.valueWrapper {
    position: relative;
}

.count {
    background-image: linear-gradient(to bottom right, rgb(247, 126, 126), rgb(194, 1, 1));
    /* background-color: #488B49; */
    color: white;
    text-align: center;
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
    padding-top: 4px;
    font-size: 0.8rem;
    font-weight: bolder;
    position: absolute;
    bottom: 80%;
    left: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

.price {
    margin-bottom: 0;
    margin-top: 0.6rem;
    font-size: 0.7rem;
}

/* @media screen and (min-width: 450px) {
    .count {
        width: 1.4rem;
        padding-top: 1px;
        padding-bottom: 1px;
        font-size: 0.8rem;
    }
    .price {
        font-size: 0.9rem;
    }
} */