.h2 {
  margin: 1.5rem;
  text-align: center;
}
.h3 {
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  margin: 1rem 0;
}
.h4 {
  margin: 1rem 0 0.5rem 0;
  font-size: 1.2rem;
  text-decoration: underline;
}
.main_wrapper {
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
}
.main_wrapper hr {
  border-color: #488b4983;
  margin: 0.5rem 0;
}
.main_wrapper p {
  margin-bottom: 0.2rem;
}
.info_card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  font-size: 1rem;
  padding: 0 1rem;
  border: 1px solid #488b49;
  border-radius: 5px;
}
.info_row {
  display: flex;
  justify-content: space-between;
  margin: 0.7rem 0;
}
.info_date {
  text-align: right;
  font-size: 0.8rem;
}
.info_bold {
  font-weight: bold;
}
.carInfo {
  margin-bottom: 1.5rem;
}
.totalPrice {
  font-size: 1.5rem;
}
.bottom_wrapper {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}

.button {
  border: 2px solid;
  box-shadow: 1px 1px 5px rgba(119, 119, 119, 0.5);
  color: #232b2b;
  border-radius: 5px;
  background-color: transparent;
  padding: 0.3rem;
  margin: 0.5rem;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
.button:hover {
  color: #fbfaf5;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
.ok {
  border-color: #488b49;
  background-color: #488b491e;
}
.print {
  border-color: #ffbe0b;
  background-color: #ffbe0b1e;
}
.ok:hover {
  background-color: #488b49;
}
.print:hover {
  background-color: #ffbe0b;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .info_card {
    font-size: 1.2rem;
  }
  .info_date {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .button {
    margin: 1rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .info_card {
    width: 50%;
  }
  .h2 {
    margin: 2rem;
  }
}