
.imageContainer {
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../");
}

.imageContainer img {
    height: auto;
    background-position: center;
}

div .greeting {
    position: absolute;
    top: 340px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.637);
    border-radius: 5px;
} 

/*media queries for big screen*/
@media (min-width: 1200px) { 


div.greeting {
    padding-left: 3rem;
}

div.greeting h2 {
    top: 150px;
}

div.greeting span {
    font-size: 1.2rem;
}

}
