.registerComponentWrapper {
    visibility: hidden;
    /* opacity: 0; */
    transform: translateY(-200%);
    transition: all 0.75s ease-in;
}

.labelFlex {
    display: flex;
    /* flex-direction: row; */
    background-color: lightpink;
}

h3.not_a_member_yet {
    text-align: center;
    text-shadow: 1px 1px 1px #03030349;
}

/* the invinsible checkbox */
.registerFormToggle {
    display: none;
}

/* the label which works as a checkbox */
.registerFormLabel {
    text-align: center;
    display: block;
    margin: 1rem auto;
    padding-top: 0.7rem;
    border: none;
    width: 150px;
    height: 50px;
    font-size: 1.1rem;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    border-radius:  0.2rem;
    background-color: #fcfcfb;
    transition: background-color 0.7s ease;
}

.registerFormLabel:hover {
    cursor: pointer;
    background-color: #FFBE0B;
}

/* displays registerform when user clicks on "register now" */
.registerFormToggle:checked ~ .registerComponentWrapper {
    display: block;
    transform: translateY(-0%);
    /* transition-delay: opacity 5s; */
    /* opacity: 1; */
}