.navbar {
    background-color: #FFBE0B;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2);
}

span.font {
    font-family: 'Ultra';
    font-size: 1rem;
    color: #232b2b;
    display: none;
}

i.fas.fa-shopping-cart {
    color: #232b2b;
}

.clr {
    color: #232b2b !important;
    font-size: 0.9rem;
}

.border {
    border-color: transparent !important;
}
.border:hover {
    background-color: #FFBE0B;
}
.toggleButton {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    font-size: 1rem;
}

@media screen and (min-width: 320px) {
    span.font {
        display: inline;
    }

}
@media screen and (min-width: 450px) {
    span.font {
        font-size: 1.3rem;
    }

    .clr {
        font-size: 1.1rem;
    }

    .toggleButton{
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 576px) {
    span.font {
        font-size: 1.7rem;
    }

    span.homeWrapper:after,
    span.aboutWrapper:after,
    span.registerWrapper:after {
        content: '';
        position: absolute;
        top: 40px;
        display: inline-block;
        height: 1rem;
        width: 4.5rem;
        border-bottom: 3px solid;
        /* margin-top: 10px; */
        opacity: 0;
          -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
          transition: opacity 0.5s, transform 0.5s;
          -webkit-transform: scale(0,1);
          transform: scale(0,1);
    }
    span.registerWrapper:after {
        width: 9.2rem;
    }

    span.homeWrapper:hover:after,
    span.aboutWrapper:hover:after,
    span.registerWrapper:hover:after {
        /* font-weight: bold;
        color: #232b2b; */
        /* transition: all 0.3s ease-out; */
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}