.navbar {
    background-color: #FFBE0B;
}
.navbar a:hover {
    font-weight: bold;
    color: #232b2b;
}

span.font {
    font-family: 'Ultra';
    font-size: 1.2rem;
    color: #232b2b;
    display: none;
}

i.fas.fa-shopping-cart {
    color: #232b2b;
}

.clr {
    color: #232b2b !important;
}

.border {
    border-color: transparent !important;
}

.border:hover {
    background-color: #FFBE0B;
}

.toggleButton {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

@media screen and (min-width: 350px) {
    span.font {
        display: inline;
    }

}
@media screen and (min-width: 450px) {
    span.font {
        font-size: 1.8rem;
    }

}