.nosearchContainer {
  /* text-align: center; */
}
.nosearchContainer h3 {
  text-align: center;
  margin: 2rem;
}
.recommendedContainer {
  border-radius: 5px;
  padding: 2rem;
  width: 90%;
  margin: 1rem auto;
  border: 2px solid #FFBE0B;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 1rem;
}

p.lead {
  font-size: 1.4rem;
  margin-bottom: 1.4rem;
  text-shadow: 1px 1px 3px #03030391;
}