.PaymentForm {
  margin: 1rem 0;
}

.PaymentForm h2 {
  font-size: 1.1rem;
  margin: 0.5rem 0;
  text-align: center;
  font-weight: bold;
}

.PaymentForm hr {
  width: 75%;
  margin: 1rem auto;
  border: none;
  border-top: 1px solid #232b2b;
}

.FormWrapper {
  padding: 1rem 0.5rem;
  border-radius: 0.2rem;
  max-width: 576px;
  margin: auto;
}
.Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.PaymentOptions,
.DeliveryOptions {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.DeliveryOptions {
  align-items: center;
  justify-content: center;
}
.RadioWrapper {
  display: flex;
  align-items: center;
  margin: 0.5rem;
}
.PaymentOptions i,
.DeliveryOptions i {
  margin: 0.5rem;
}

.completePurchaseBtn {
  background-color: #fbfaf5;
  padding: 0 0.5rem;
  height: 50px;
  border: 2px solid #ffbe0b;
  border-radius: 5px;
  color: #232b2b;
  font-size: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-out;
  border-radius: 5px;
  position: relative;
  opacity: 0.9;
  z-index: 10;
  margin: 1.5rem 0 1rem 0;
  display: block;
}

.completePurchaseBtn:hover {
  box-shadow: 0 0px 20px 8px #ffbe0b7e;
  cursor: pointer;
  opacity: 1;
}

.completePurchaseBtn:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 100%;
  left: 0%;
  position: absolute;
  background: #ffbe0b;
  transition: 0.3s ease 0s, left 0.2s ease 0s;
  width: 0;
  z-index: -1;
}

.completePurchaseBtn:hover:after {
  width: 100%;
  left: 0;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 690px) {
  .inputWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .inputWrapper input {
    width: 45%;
  }
  .FormWrapper {
    min-width: 700px;
    max-width: 700px !important;
  }
  .DeliveryOptions {
    width: 100%;
    display: flex;
    justify-content: center;

    flex-direction: row;
    flex-wrap: wrap;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 700px) {
  .FormWrapper {
    min-width: 700px;
    max-width: 700px !important;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
