.main_wrapper {
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;

}
.info_card {
  height: 600px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1rem;
  align-items: center;

}

.p {
  display: flex;
  justify-content: space-evenly;
  border-bottom: solid black 1px;
  border-radius: 0.1rem;
  padding: 1rem;
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  color: black
}
.date {
  font-size: 1rem;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 350.98px) {
  .info_card {
    height: 300px;
    width: 200px;
    border: solid green 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px)  {
  .info_card {
    width: 500px;
    font-size: 2rem;
  }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px)  {
  .info_card {
    width: 450px;
  }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {  }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }