/* main component wrapper */
.Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

/* wraps everything except button */
.ContactInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-top: 3rem;
}

h3.header {
    padding: 1.5rem 0rem;
    text-shadow: 1px 1px 1px #03030349;
    font-size: 1.5rem;
}

.inputWrapper,
.passwordWrapper {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.textInput {
    width: 100%;
    padding: 0.7rem;
    margin-bottom: 1rem;
    outline-style: none;
    border-color: transparent;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 0.2rem;
}

.textInput:focus {
    border: 2px solid #FFBE0B;
}

.passwordWrapper {
    margin-top: 2rem;
}

.createAccountBtn {
    margin: 2rem auto;
    border: none;
    width: 150px;
    height: 50px;
    font-size: 1.1rem;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    border-radius:  0.2rem;
    background-color: #fcfcfb;
    transition: background-color 0.7s ease;
}
.createAccountBtn:hover {
    cursor: pointer;
    background-color: #FFBE0B;
}

@media screen and (min-width: 992px){
    .textInput {
        width: 400px;
    }

    .inputWrapper {
        display: flex;
        flex-direction: row;
        width: 900px;
        margin: 0rem;
        padding: 0rem;
        justify-content: space-around;
        align-items: stretch;
    }

    .flexWrapperPersonal {
        padding: 1rem;
    }

    .flexWrapperAddress {
        padding: 1rem;
    }

    .passwordWrapper {
        display: flex;
        align-items: center;
    }
}
