.Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ContactInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-top: 3rem;
}

h3.header {
    /* text-align: center; */
    padding: 1.5rem 0rem;
    text-shadow: 1px 1px 1px #03030349;
    font-size: 1.5rem;
}

.inputWrapper,
.passwordWrapper {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.textInput {
    /* width: 100%; */
    padding: 0.7rem;
    margin-bottom: 1rem;
    outline-style: none;
    border-color: transparent;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 0.2rem;
}

.passwordWrapper {
    margin-top: 3rem;
}

.createAccountBtn {
    margin: 2rem auto;
    border: none;
    width: 150px;
    height: 50px;
    font-size: 1.1rem;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    border-radius:  0.2rem;
    background-color: #fcfcfb;
    transition: background-color 0.7s ease;
}

.createAccountBtn:hover {
    cursor: pointer;
    background-color: #FFBE0B;
}


@media screen and (min-width: 576px){
    
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px){
    /* .inputWrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    .inputWrapper input {
        width: 45%;
    }
    .FormWrapper {
        min-width: 700px;
        max-width: 700px !important;
    } */
}

@media screen and (min-width: 992px){

}

/* Large devices (desktops, 992px and up) */
/* @media (min-width: 700px)  {
    .FormWrapper {
        min-width: 700px;
        max-width: 700px !important;
    }
} */

/* Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) {  } */ 