.searchComponent {
    margin: 2rem auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    border: 1px solid black;
}
.searchBarWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.filterWrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border: 1px solid black;
}

.searchInput {
    margin: 1rem;
}

.formContainer {
    display: flex;
    flex-flow: row wrap;
    border: 1px solid black;
    display: flex;
    justify-content: center;
}


.filterWrapperChildren {
    display: flex;
    flex-flow: row wrap;
    width: 100%;

}

.filterSlider {
    margin: 1rem;
    width: 200px;
}

.labelWrapper {
    margin: 2rem;
    padding: 0.5rem;
}