/* Main wrapper */
.searchComponent {
    margin: 2rem auto;
    max-width: 100vw;
    display: flex;
    justify-content: center;
}

h4.searchHeader {
    text-shadow: 1px 1px 3px #03030391;
    padding: 1rem;
}

/* The whole form wrapper */
.formContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

/* Search bar and filter toggle-btn */
.searchBarWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Text input */
.inputWrapper {
    display: block;
    padding: 0.7rem;
    height: 3rem;
    /* width: 100%; */
    border-radius: 5px;
    border: 2px solid #488B49;
}
.searchInput {
    /* margin: 1rem; */
    border: none;
    padding: 0.5rem;
    /* border: 2px solid #488B49; */
    border-radius: 5px;
    position: relative;
    top: -10px;
}

/* Förstoringsglaset */
.searchButton {
    background-color: transparent;
    border: none;
    position: relative;
    top: -10px;
}
.searchButton i:hover {
    color: #488B49;
}
.searchInput:focus {
    outline: none;
}

/* Toggle filter button */
.toggleFilterBtn {
    border: 2px solid #488B49;
    border-radius: 5px;
    background-color: white;
    padding: 0.3rem;
    margin: 1rem;
}
.toggleFilterBtn:hover {
    color: #488B49;
}
.toggleFilterBtn span {
    color: inherit;
}



/* Wraps everything that shows when formToggler is truthy */
.filterWrapper {
    /* display: flex;
    flex-flow: row wrap; */
    justify-content: space-around;
}

/* Wraps each one of the sliders */
.sliderWrapper {
    padding: 0rem 2rem;
    margin: 2.5rem;
    /* border: 2px solid #488B49; */
    border-radius: 5px;
}

/* The slider */
.filterSlider {
    width: 250px;
}
.slider span {
    color: #488B49;
}
/* the slider-value bubble */
.slider span span span {
    color: transparent;
}
/* the values */
.slider span span span span {
    color: black;
    position: relative;
    top: 37px;
    right: 34px;
}
/* The slider labels */
.labelWrapper {
    margin: 0rem;
    padding: 0rem;
    text-align: center;
    font-weight: bold;
}


/* Make + Model wrapper */
.makeModelWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2rem auto;
    width: 300px;
}

.makeWrapper,
.modelWrapper {
    display: flex;
    justify-content: space-between;
}

.labelMake,
.labelModel {
    padding: 0rem 0.75rem;
}

.select {
    width: 250px;
    margin: 0rem 1rem 1rem 0rem;
}


/* Clear filter + Apply filter buttons */
.buttonsWrapper {
    display: flex;
    justify-content: center;
}

.clearFilterBtn {
    border: 2px solid;
    border-radius: 5px;
    background-color: white;
    padding: 0.3rem;
    margin: 0.5rem;
}
.clearFilterBtn:hover {
    color: #488B49;
    border: 2px solid #488B49;
}

.applyFilterBtn {
    border: 2px solid;
    border-radius: 5px;
    background-color: white;
    padding: 0.3rem;
    margin: 0.5rem;
}
.applyFilterBtn:hover {
    color: #488B49;
    border: 2px solid #488B49;
}

/* --------------- MEDIA QUERIES --------------- */
@media screen and (min-width: 576px){
    .searchBarWrapper {
        flex-direction: row;
    }

    .filterSlider {
        width: 400px;
    }
}

